/* Tous les éléments */
* {
    box-sizing: border-box;
  }
  
  /* Option links */
  a {
    text-decoration: none;
  }
  
  a:link {
    color: #000;
  }
  
  a:visited {
    color: rgba(0, 0, 0, 0.399);
  }
  
  a:hover {
    color: #cc9933;
  }
  
  body {
    background-color: #ad4b20c4;
    height: max-content;
    min-height: max-content;
    margin: 0%;
    padding: 0%;
  }
  
  #headerdiv1 {
    position: relative;
    top: 0.5em;
    background-color: #cc9933;
    text-align: center;
  }
  
  #h1 {
    text-rendering: geometricPrecision;
    font-family: 'Overpass', sans-serif;
    color: #8a3714;
    font-size: 3em;
  }
  
  #h1 img {
    padding-top: 0.33em;
    width: 0.55em;
  }

  #h1 img img {
    padding-top: 0.33em;
    width: 0.55em;
  }

  #menu {
    position: relative;
    top: 1.80em;
    background-color: #8a3714;
    word-spacing: 1em;
  }
  
  #menu div nav ul {
    margin-right: 2.5%;
    list-style: none;
    height: max-content;
    text-align: center;
  }
  
  #menu div nav ul li {
    font-size: 150%;
    display: inline;
    color: #000;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
  }
  
  #home {
    position: relative;
    top: 5em;
    height: auto;
    overflow: hidden;
  }
  
  #homevid {
    z-index: -1;
    margin-bottom: 0px;
    background-color:  #cc9933;
    position: relative;
    box-sizing: border-box;
    height: 425px;
  }
  
  #homevid video {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
  
  
  #vi {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
  }
  
  #infotext {
    position: relative;
    top: 5em;
    font-family: 'Overpass', sans-serif; 
    color: #000000;
    font-size: 1.5em;
    text-align: center;
    text-justify: inter-word;
    margin-top: -0.9em;
  }

  #text {
    position: absolute;
    text-align: center;
  }
   
  input {
    border: 1px solid #8a3714;
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #8a3714;
    text-align: center;
  }
  
  #abonnement p{
    text-align: center;
    font-family: 'Overpass', sans-serif; 
  }

  #abonnement {
    position: relative;
    top: 10em;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Overpass', sans-serif; 
  }

  #mail {
    height: 3em;
  }

  #footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#footer p {
    font-family: 'Overpass', sans-serif; 
    font-size: 1em;
}

  
 
