/* Tous les éléments */
* {
    box-sizing: border-box;
}
  
/* Option links */
a {
    text-decoration: none;
}
  
a:link {
    color: #000;
}
  
a:visited {
    color: rgba(0, 0, 0, 0.399);
}
  
a:hover {
    color: #cc9933;
}

html {
    caret-color: transparent;
  }  
  
body {
    background-color: #ad4b20c4;
    height: max-content;
    min-height: max-content;
    margin: auto;
    padding: 0%;
}
  
#headerdiv1 {
    position: relative;
    top: 0.5em;
    background-color: #cc9933;
    text-align: center;
    border-radius: 100px;
    width: 66%;
    margin: auto;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.3);
}

#h1 {
    text-rendering: geometricPrecision;
    font-family: 'Overpass', sans-serif;
    color: #8a3714;
    font-size: 3em;
}

#menu {
    z-index: 9999; /* Valeur élevée pour placer l'élément au premier plan */
    position: sticky;
    top: 1.80em;
    background-color: #8a3714;
    word-spacing: 1em;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    width: 77%;
    margin: auto;
}

#menu div nav{
    height: 10%;
}
  
#menu div nav ul {
    margin-right: 2.5%;
    list-style: none;
    height: max-content;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
#menu div nav ul li {
    font-size: 150%;
    display: inline;
    color: #000;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
}

/* Style pour les sections principales de la page */
#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    font-family: 'Overpass', sans-serif;
}

/* Style pour les titres de sections */
#main h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Overpass', sans-serif;
}

/* Style pour les paragraphes */
#main p {
    margin-bottom: 20px;
    font-family: 'Overpass', sans-serif;
}

/* Style pour la section "contact"*/
#contact {
    margin-bottom: 5em;
}

/* Style pour le formulaire de contact */
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    border-radius: 15px;
}

#contact-form textarea {
    height: 150px;
}

#contact-form button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

#contact-form button[type="submit"]:hover {
    background-color: #8a3714;
    margin-bottom: 11.5em;
}

/* Style pour le pied de page */
#footer {
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px; /* hauteur du footer */
}


#footer p {
    font-family: 'Overpass', sans-serif; 
    font-size: 1em;
}