/* Réinitialisation des styles pour une base propre */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Option links */
a {
    text-decoration: none;
  }
  
  a:link {
    color: #000;
  }
  
  a:visited {
    color: rgba(0, 0, 0, 0.399);
  }
  
  a:hover {
    color: #cc9933;
  }
  
  body {
    background-color: #ad4b20c4;
    height: max-content;
    min-height: max-content;
    margin: 0%;
    padding: 0%;
    font-family: 'Overpass', sans-serif;
  }

/* Style pour l'en-tête de la page */
#header {
    background-color: #ad4b20c4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#header h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #000000;
}

#menu {
    position: relative;
    top: 1.80em;
    background-color: #8a3714;
    word-spacing: 1em;
}

#menu div nav{
    height: 10%;
  }
  
#menu div nav ul {
    margin-right: 2.5%;
    list-style: none;
    height: max-content;
    text-align: center;
}
  
#menu div nav ul li {
    font-size: 150%;
    display: inline;
    color: #000;
    text-transform: uppercase;
    font-family: 'Overpass', sans-serif;
}

/* Style pour les sections principales de la page */
#main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* Style pour les titres de sections */
#main h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

/* Style pour les paragraphes */
#main p {
    margin-bottom: 20px;
}

/* Style pour le formulaire de contact */
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

#contact-form textarea {
    height: 150px;
}

#contact-form button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

#contact-form button[type="submit"]:hover {
    background-color: #8a3714;
}

/* Style pour le pied de page */
#footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

#footer p {
    font-family: 'Overpass', sans-serif; 
    font-size: 1em;
}